.review {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 20px ;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    margin: 10px 0;
}

.userName {
    font-weight: bold;
    margin-right: 5px;
}

.desc {
    grid-column: 1/-1;
}