:root {
  --font-family: "Noto Sans", serif;
  --purple-color: #6141df;
  --black-color: rgb(59, 67, 78);
  --light-black-color: #62666c;
  --green-color: #127a4f;
  --light-green-color: rgb(200, 248, 228);
  --gray-color:#62666c;
  --light-gray-color:rgb(226, 226, 226);
  --orange-color:rgb(252, 131, 109);
  --red-color:rgb(222, 0, 0);

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  margin-top: 40px;
  background-color: rgb(229,229,229);
  
}