:root {
  --font-family: "Noto Sans", serif;
  --purple-color: rgb(118, 83, 252);
  --black-color: rgb(59, 67, 78);
  --light-black-color: rgb(120, 125, 133);
  --green-color: rgb(29, 196, 126);
  --light-green-color: rgb(200, 248, 228);
  --gray-color:rgb(179, 192, 217);
  --light-gray-color:rgb(226, 226, 226);
  --orange-color:rgb(252, 131, 109);
  --red-color:rgb(222, 0, 0);

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  margin-top: 40px;
  background-color: rgb(229,229,229);
  
}